*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
body{
    width: 100vw;
    height: 100vh;
    padding-top: 3rem;
    padding-left: 3rem;
    background-color:rgb(0, 204, 255);
}

#toggle{
    padding: 1.3rem 4rem;
    border-radius: 5pc;
    position: relative;
    cursor: pointer;
    background-color: red;
    border: none;
}

#toggle::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 15.2%;
    left: 8%;
    transition: all 0.4s ease-in-out;
    background-color: white;
}
#checkbox:checked + ::before{
    left: 60%;
    background-color:white;
}

input[type="checkbox"]{
    display: none;
}


#checkbox:checked + #toggle{
    background-color: #3f33e9;
    transition: all 0.4s ease-in-out;
    border: none;
}